services:
  db:
    image: postgres:14-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # It is not advisable to set 1024 (1024:5432) as the port for the host, even if only for semantic purposes, as this allows any process on the host to communicate with the database

  cache:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "1026:1026"
    depends_on:
      - db
      - cache
  #  volumes:
   #   - ./backend:/app/backend:cached
    command: pnpm run dev

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: always
    ports:
      - "1027:1027"
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend
#    volumes:
 #     - ./frontend:/app/frontend:cached
    command: pnpm run dev

  reverse-proxy:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - ./reverse-proxy/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  postgres_data: # This defines a volume created and named by Docker, which will be created and managed by dockerd.
  # It will be stored on the host (outside the project), but accessed and used by containers that communicate with the local database service "db".
  # In this way, the data in the volume is stored persistently, and any container can mount the volume internally and access its data directly. 
