[data-theme='dark'] .container {
  background: black;
}

:global(.main-wrapper[data-theme="dark"])  {
  background: currentColor;
}

.container {
  max-width: 1200px;
  /*min-width: 100%;*/
  margin: 0 auto;
  padding: 80px 2rem 2rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
}

.title {
  font-size: 3rem;
  color: var(--accent);
  max-width: 600px;
  line-height: 1.2;
}

.lockimg {
  filter: drop-shadow(0 0 10px var(--accent));
  max-width: 100%;
  height: auto;
  margin: auto;
}

.content {
  line-height: 1.8;
}

.content h2 {
  color: var(--accent);
  margin-top: 3rem;
  border-left: 4px solid var(--accent);
  padding-left: 1rem;
}

.content h3 {
  color: var(--text-muted);
  font-weight: 500;
}

.content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  color: darkgreen;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem 0;
    align-items: center;
  }
  .title {
    font-size: 2rem;
  }
  .lockimg {
    width: 250px !important;
    height: 250px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
  }
}
