.content {
  max-width: 1200px;
  /*min-width: 100%;*/
  margin: 0 auto;
}

.hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem;
}

.title {
  font-size: 3rem;
  color: var(--title);
  max-width: 600px;
  line-height: 1.2;
}

.subtitle {
  color: var(--text-muted);
}

.lockimg {
  filter: drop-shadow(0 0 10px var(--title));
  max-width: 100%;
  height: auto;
  margin: auto;
}

.content {
  line-height: 1.8;
}

.content h2 {
  color: var(--title);
  border-left: 4px solid var(--title);
  padding-left: 1rem;
}

.content h3 {
  color: var(--text-muted);
  font-weight: 500;
}

.content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  color: var(--text-main);
}

@media (max-width: 868px) {
  .hdr {
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem;
    align-items: center;
  }
  .title {
    font-size: 2rem;
  }
  .lockimg {
    display: none;
  }
}
