.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--bg-secondary);
  color: var(--text-main);
  z-index: 2;
  border: none;
}

.links a {
  font-size: 1.1rem;
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--text-main);
  transition: color 0.2s;
}

.links a:hover {
  color: var(--title);
}
